version: '3.1'

services:

  {{ webphpdb_host }}:
    build: ./webphpdb
    image: "{{ webphpdb_host }}:{{ VERSIONTAG }}"
    restart: always
    container_name: "{{ webphpdb_host }}"
    hostname: "{{ webphpdb_host }}"
    volumes:
      - {{ testtask_mysqldata_path }}:/var/lib/mysql
      - {{ testtask_wwwfiles_path }}:/var/www/html
    ports:
      - {{ webphpdb_extport }}:{{ webphpdb_port }}
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQLPASSWORD}
    command: /wrapper_script.sh
  
      
  balancer:
    build: ./balancer
    volumes:
     - {{ testtask_balancer_path  }}/balancer.conf:/etc/nginx/conf.d/balancer.conf
     - {{ testtask_balancer_path  }}/localhost.key:/etc/nginx/localhost.key
     - {{ testtask_balancer_path  }}/localhost.crt:/etc/nginx/localhost.crt
    ports:
     - "80:80"
     - "443:443"
    container_name: "nginx-balancer"
    hostname: "nginx-balancer"
    image: "nginx-balancer:{{ VERSIONTAG }}"

